#card {
    background-color: white;
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 6%;
    display: grid;
    grid-gap: .3em;
    grid-template-areas:
    "sec1  sec2 sec3"
    "sec4 sec4 sec5";
    grid-template-columns: 
    34% 14% 51%;
    padding: 10px;
    font-family: 'Exo 2', 'regular';
    border-radius: 0.5%;
    /* border: 1px solid #6E90CA; */
    /* box-shadow:2px 2px 20px -1px #6E90CA; */
}
#mo2 {
  display: none;
}
/* #card > div{
    border: 2px solid black;
} */
#card > div:first-child{
    grid-area: sec1;
}
/* #card > div:fourth-child{
    grid-area: sec4;
} */
#pic {
    grid-area: sec1;
    /* background-color:grey; */
    max-height: 66%;
}
#verticalLogo {
    grid-area: sec2;
    /* background-color:yellow; */
    max-height: 66%;
}
#links {
    grid-area: sec3;
    line-height: 13px;
    /* background-color:red; */
    padding-left: 1%;
    padding-right: 5%;
    max-height: 66%;
}
#horizontalLogo {
    grid-area: sec4;
    /* background-color: blue; */
    margin-top: -20%;
}
#horizontalLogoinfo {
    grid-area: sec5;
    padding: 3%;
    font-size: 1.4em;
    color: #6E90CA;
    border-left: 1px solid #6E90CA
    ;
    margin-top: -20%;
}
#pic img{
    max-height:100%;
    max-width: 100%;
  }
  #verticalLogo img{
    max-height:100%;
    /* max-width: 100%; */
    /* padding-left: 10px; */
  }
  #clickable {
      color: black;
      max-width: 100%;
      /* max-height:100%; */
      /* background-color: green; */
      overflow-wrap: break-word;
      list-style-type: none;
      /* padding-left: 10px;
      padding-right: 10px; */
      /* margin-left: 5%;
      margin-right: 5%; */
      font-size: 100%;

  }
  li{
    list-style-type: none;
  }
  #social img{
      max-width: 15%;
      /* max-height: ; */
  }
  #social {
    margin-top: 8%;
  }
  .name{
      font-weight: 600;
      color: #6E90CA;
      margin-bottom: 0.2em;
      font-size: 1.2em;

  }
  #position {
      margin-bottom: 5%;

  }
  #clickable li{
      margin-bottom: 0.4em;
  }
a {
    text-decoration: none;
    color: black;
}
body {
    background-color: white;
}
@media (prefers-color-scheme: light) {
    body {
      background: white;
      color: #333;
    }

  }
  @media (prefers-color-scheme: dark) {
    body {
      background: #333;
      color: #FFF;
      align-items: center;
    }
    #card {
        background-color: #333;
        color: white;
    }
    #clickable {
        color: white;
    }
    a {
        color: white;
    }
  }
  /* #changeTheme {
      background-color: white;
      border: 1px solid #6E90CA;
      margin: 2% 45%;
      padding: 10px;
      width: 10%;
      border-radius: 5px;
  } */

  /* switch */
   .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin:2%  48%;
    
    
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(76, 76, 76);
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #6E90CA;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #6E90CA;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #333;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }  





  @media (max-width:1000px){
    #horizontalLogoinfo {
        margin-top: -20%;
        font-size: 1.1em;
    }
    #horizontalLogo {
      margin-top: -20%;
  }
  #clickable{
    font-size: 12px;
  }
  #card{
    margin-left:25%;
    margin-right:25%
  }

}
@media (max-width:755px){

  #horizontalLogoinfo {
      margin-top: -20%;
      font-size: 1em;
      /* color: green; */
  }
  #horizontalLogo {
    margin-top: -20%;
}
#clickable{
  font-size: 8px;
}
#card{
  margin-left:25%;
  margin-right:25%
}

}
@media (max-width:620px){

  #horizontalLogoinfo {
      margin-top: -20%;
      font-size: 0.7em;
      /* color: green; */
  }
  #horizontalLogo {
    margin-top: -20%;
}
#clickable{
  font-size: 8px;
}
#card{
  margin-left:25%;
  margin-right:25%
}
#social {
  margin-top: 0%;
}

}

@media (max-width:580px){

  #horizontalLogoinfo {
      margin-top: 0%;
      font-size: 0.7em;
      /* color: green; */
      max-height:80%;
  }
  #horizontalLogo {
    margin-top: 0%;
    max-height:80%;
}
#clickable{
  font-size: 8px;
}
#card {
  /* background-color: white; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 6%;
  display: grid;
  grid-gap: .3em;
  grid-template-areas:
  "sec2  sec4 sec5"
  "sec2 sec1 sec1"
  "sec2 sec3 sec3";
  grid-template-columns: 
  20% 30% 30%;
  padding: 10px;
  font-family: 'Exo 2', 'regular';
  border-radius: 0.5%;
  /* border: 1px solid #6E90CA; */
  /* box-shadow:2px 2px 20px -1px #6E90CA; */
}
#social {
  margin-top: 0%;
}
#links {
  margin-top: -25%;
}
#verticalLogo{
  margin-top: 60%;
  max-height: 60%;
}
#mo2 {
  display: block;
  max-height: 100%;
}
#mo {
  display: none;
}

}



@media (max-width:400px){

  #horizontalLogoinfo {
      margin-top: 0%;
      font-size: 0.7em;
      /* color: green; */
      max-height:80%;
  }
  #horizontalLogo {
    margin-top: 0%;
    max-height:80%;
}
#clickable{
  font-size: 8px;
}
#card {
  /* background-color: white; */
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 6%;
  display: grid;
  grid-gap: .3em;
  grid-template-areas:
  "sec2  sec4 sec5"
  "sec2 sec1 sec1"
  "sec2 sec3 sec3";
  grid-template-columns: 
  20% 30% 30%;
  padding: 10px;
  font-family: 'Exo 2', 'regular';
  border-radius: 0.5%;
  /* border: 1px solid #6E90CA; */
  /* box-shadow:2px 2px 20px -1px #6E90CA; */
}
#social {
  margin-top: 0%;
}
#links {
  margin-top: -25%;
}
#verticalLogo{
  margin-top: 60%;
  max-height: 60%;
}
#mo2 {
  display: block;
  max-height: 100%;
}
#mo {
  display: none;
}

}